.taskNotDone {
  color: red;
  margin-left: 10px;
}
.taskDone {
  color: green;
  margin-left: 10px;
}
.task {
  background: yellow;
}
.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;

  align-items: center;
}
.container > div {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
.btn {
  cursor: pointer;
  padding: 5px 20px;
  border: 1px solid #ff0000;
  background-color: rgb(235, 54, 54, 0.8);
  color: white;
  border-radius: 12px;
  margin-left: 40px;
}
